<ion-view>
    <ion-nav-buttons side='right' ng-controller="arCtrl">
        <label class="item-input-wrapper" style="display:none">
        </label>
    </ion-nav-buttons>
    <ion-content delegate-handle="detailScroll" style="bottom:79px;">
        <div class="row responsive-sm">
            <div class="col">
                <img img-cache class="item" ic-src="{{genImList(detailArt)}}"
                     style="max-height:84%;max-width:100%; min-width: 250px; margin:auto; border:none;">
            </div>
            <div class="col">
                <div class="item item-text-wrap">
                    <h1 ng-controller="favoriteCtrl">
                        <span style="margin:auto">{{detailArt.title}}</span>
                        <button class="button button-icon button-clear" ng-click="toggleFavorite()"
                                style="float: right;">
                            <i class="icon ion-heart" ng-class="{'isFavorite':isFavorite}"></i>
                        </button>
                    </h1>
                    <h2>{{detailArt.artist_name}}</h2>
                    <br/>
                    <p ng-hide="!detailArt.description || detailArt.description==''">{{detailArt.description}}</p>
                </div>
                <div ng-repeat="section in detailArt.display_sections">
                    <div ng-click="resizeScroll(); artistInfo=!artistInfo;" class="item item-divider"
                         ng-init="artistInfo=true">
                        {{section.name}}
                    </div>
                    <div class="item item-text-wrap" ng-show="artistInfo">
                        <div ng-repeat="data in section.section_data">
                            <p ng-hide="data[getKeys(data)[0]] == null || data[getKeys(data)[0]] == ''"><b
                                    ng-hide="getKeys(data)[0] == ''">{{getKeys(data)[0]}}
                                :</b> {{data[getKeys(data)[0]]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-subfooter" style="height:auto;padding:0px;">
        <div ng-click="openModal()" class="item item-icon-left item-divider">
            <i class="icon ion-earth"></i>
            Show in Map
        </div>
    </ion-footer-bar>
</ion-view>
